#                                      SQL CT2 MINIPROJECT

# Mini Project 2


## Team Members:
1. Priyadarsshini S
2. Santhosh Kalaikumar
3. Twinkle Vigneswari Viswanathan

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.0.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import the necessary libraries 
import pymysql
from tabulate import tabulate
import pandas as pd

In [3]:
# Establish a connection to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             database='bookstore')

# Create a cursor object to interact with the database
cursor = connection.cursor()

#### Identify the purchase details of books, that are purchased exactly on different dates by the same customer(s). Write a query to display customer’s id and number of such purchases to be displayed as BOOKS for the identified purchase details.

In [4]:
query1 = '''
SELECT p.Custid, COUNT(DISTINCT p.Purchasedate) AS BOOKS
FROM purchase p
GROUP BY p.Custid
HAVING COUNT(DISTINCT p.Purchasedate) > 1
'''
cursor.execute(query1)

# Fetch all the rows returned by the first query
res1 = cursor.fetchall()

# Print the results of the first query
print(tabulate(res1, headers=['Customer ID', 'Books']))

Customer ID      Books
-------------  -------
C101                 2

From the above result, Customer_ID = C101 customer only has purchased books on different dates. 2 books are purchased by the same customer on different dates.

#### Identify the purchase details of books, where the books of the same category are purchased by different customers on different dates. Write a query to display customer’s id and title of the book for the identified purchase details.

In [5]:
query2 = '''
SELECT DISTINCT p1.custid, b1.bookname, b1.Category
FROM purchase p1
INNER JOIN books b1 ON p1.bookid = b1.bookid
WHERE EXISTS (
    SELECT 1
    FROM purchase p2
    INNER JOIN books b2 ON p2.bookid = b2.bookid
    WHERE p1.bookid <> p2.bookid
    AND b1.category = b2.category
    AND p1.custid <> p2.custid
    AND p1.purchasedate <> p2.purchasedate
)
ORDER BY p1.custid;
'''
cursor.execute(query2)

# Fetch all the rows returned by the second query
res2 = cursor.fetchall()

# Print the results of the second query
print(tabulate(res2, headers=['Customer ID', 'Book Name','Category']))

Customer ID    Book Name           Category
-------------  ------------------  ----------
C101           Science Revolution  Journal
C103           Tech World          Journal

Customer ID = C101 and C103 purchased the books from same category 'Journal' on different dates.

#### Identify the purchase details of books, where the book is purchased on the same date, exactly on the date Anne has purchased the book. Write a query to display customer’s name and title of the book for the identified purchase details. Do NOT display details of Anne in the query result.

In [6]:
query3 = '''
SELECT c.custname, b.Bookname
FROM purchase p
JOIN customer c ON p.custid = c.custid
JOIN books b ON p.bookid = b.bookid
WHERE p.purchasedate IN (
    SELECT purchasedate
    FROM purchase
    WHERE custid = 'C102'
)
AND c.custid != 'C102';
'''
cursor.execute(query3)

# Fetch all the rows returned by the second query
res3 = cursor.fetchall()

# Print the results of the second query
print(tabulate(res3, headers=['Customer Name', 'Book Name']))

Customer Name    Book Name
---------------  -----------
Maria            Bizz world

Anne and Maria purchased a book on same date '2019-11-25'.

In [7]:
# Close the cursor and the connection
cursor.close()
connection.close()